<%- include ("templates/header") %>

<main role="main">
    <div class="jumbotron text-center">
        <h1><%= title %></h1>
        <p class="bigtext"><%= status %></p>
        <pre><%= message %></pre>

        <a class="btn btn-outline-primary btn-lg" href="/" role="button">Jít domů <i class="fas fa-angle-double-right"></i></a>
    </div>

</main>

<%- include ("templates/footer") %>